
#aboutUsText{
  color: #2b0057 ;
  margin-left: 10%;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  width:70%;
  height: auto;
}
#aboutUsText{min-height: 400px;}
#aboutUsText div{margin: 0px;padding-top: 10px;}
#apresentation{margin: 0;}



/* Extra small devices (phones, 600px and down) */
@media  only screen and (max-width:600px) {
#contact{margin-top: 55px;}
}
@media  only screen and (min-width:601px) and (max-width:767px) {
  #contact{margin-top: 90px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #contact{margin-top: 120px;}
}

@media  only screen and (min-width: 992px) and (max-width: 1199px) {
#contact{margin-top: 135px;}
}
@media  only screen and (min-width:1199px) {
#contact{margin-top:  140px;}
}
