/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {


#header_section > div.row{height: 70px;}
  #header_section > div{height: 60px;}
  #header_section > div > div:nth-child(2) > h5{margin-left: 40px;margin-top: 15px;}
  #header_section > div > div:nth-child(1) > img{height: 80px;}
  #rowMainSection{margin: 0; padding: 0; height: 400px;max-width: 100%;}
  #carouselExampleCaptions .carousel-item{height: 400px; width: 100%;}

  /* carousel flip cards section  */
  #rowFlipCardCarousel{width: 100%; height:400px ;margin: 0; padding: 0;}
  .flip-card { width:100%; height: 150px; }
  #imgFlipCard {width:100%; height: 150px; }


  #navbarSupportedContent > ul{padding-left: 110px;}
  #navbarSupportedContent > ul > li:nth-child(6) > h5{ margin-left: 0;}
  }
