html{height: 100%;}
#fieldContainer{
  margin-left: 9%; width: 85%; height: auto; border-style: dotted;
  border-color: #2b0057; margin-top: 50px; padding-bottom: 15px;background-color: #d7fffd;
  color:  #2b0057;
  border-radius: 15px;
}
#fieldContainer .btn{margin: 5px 0;background-color: #2b0057; color: white;}
.titleBox{padding-top: 10px; padding-left: 20px;}
.fieldBox{ height: 70px;padding: 5px;}
.fieldName{margin: 5px 0;}
.fieldBox select {width: 100%;}
.commentBox{width: 100%; height: 110px;padding:5px;position: relative; z-index: 999}
.commentBox textarea{height: 75px; width: 100%;}
.fieldBox input{width: 100%;}
#fieldContainer .row{margin: 0;}
#fieldContainer select,input,textarea {border-radius: 5px;}
/* Animated btn */
 #animatedBtn { width: 170px; height: 35px;
  font-size: 16px;
  font-weight: bold;
  animation: myfirst 3s 2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes myfirst {
  0% {
    transform: translate(5px, 0px);
  }
  20% {
    transform: translate(-5px, 0px);
  }
  40% {
    transform: translate(5px, 0px);
  }
  60% {
    transform: translate(-5px, 0px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(-5px, 0px);
  }
}
/* End of animation icon */

/* Extra small devices (phones, 600px and down) */
@media  only screen and (max-width:600px) {
#contact{margin-top: 20px;}
}
@media  only screen and (min-width:601px) and (max-width:767px) {
  #contact{margin-top: 38px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #contact{margin-top: 50px;}
}

@media  only screen and (min-width: 992px) and (max-width: 1199px) {
#contact{margin-top: 50px;}
}
@media  only screen and (min-width:1199px) {
#contact{margin-top:  50px;}
}
