<%- include("header") -%>

  <hr>
  <div id="aboutUsText">
    <h1>Sobre Nós</h1>
    <h3>XYZ - Mediação Imobiliária, Lda</h3>
    <p>AMI:xxxxx</p>
    <div>
      <p id="apresentation">A XYZ - Mediação Imobiliária Unip. Lda., tem com atividade a compra, venda e arrendamento de imóveis.

        <br>&nbsp;<br>A compra da casa, é uma das decisões mais importantes da sua vida, por isso irá precisar da nossa ajuda para que possa tomar uma decisão.

        <br>&nbsp;<br>A empresa conta na sua direção com profissionais com vários anos de experiência no ramo imobiliário.
      </p><br>&nbsp;<br>

    </div>
  </div>

<%- include("footer") -%>
