<%- include("header") -%>

<hr>
<div id="cookiesPolicyText">
    <h1>Política de Cookies</h1>

    <div>
        <p id="cookiesInformation">A XYZ - usa cookies para facilitar a navegação dos visitantes do nosso website.
            Também nos ajuda por exemplo a compreender que serviços e imóveis são mais procurados tendo em conta o
            preço, a localização, o estado do imóvel, etc. Tudo isto é feito com o intuito de o servir melhor.

            <br>&nbsp;<br>Se não deseja que rastreemos tais informações, pode desactivar os cookies no seu navegador.
            Para saber como desactivar os cookies aconselhamos a ler o tutorial seguinte:
        </p><a id="disableCoockiesTutorialLink"
            onclick="window.open('https://www.cookiesandyou.com/disable-cookies/windows/chrome/')">
            https://www.cookiesandyou.com/disable-cookies/windows/chrome/').</a><br>&nbsp;<br>

    </div>
</div>

<%- include("footer") -%>