<div id="contact" class="bottom-container">

  <div id="aboutUs">
    <div class="centerDiv">
      <h4>Sobre nós</h2> <br>
        <ul class="centerDiv">
          <li>
            <a href="/about">Sobre a XYZ</a> <br>
          </li>
          <li>
            <a href="/recruitment">Recrutamento</a><br>
          </li>
          <li>
            <a href="/cookiesPolicy">Política de cookies</a><br>
          </li>
          <li>
            <a href="/privacy-policy">Política de Privacidade</a><br>
          </li>
          <li>
            <a href="/managerPolicy">Política de Gestão</a><br>
          </li>
        </ul>
      </div>
  </div>
  <div id="followUs">
    <div class="centerDiv">
      <h4>Siga-nos:</h4><br>
      <a onclick="window.open('https://www.linkedin.com')"><i
          class="fab fa-linkedin-in"></i></a><a 
        onclick="window.open('https://www.facebook.com')"><i class="fab fa-facebook-f"></i></a><a
        onclick="window.open('https://twitter.com/')"><i
          class="fab fa-twitter"></i></a><a 
        onclick="window.open('https://www.youtube.com/')"><i class="fab fa-youtube"></i></a>
    </div>
    </div>
</div>
<div id="local">
  <div class="centerDiv">
    <h4> Visite-nos</h4> <br>
    <h5><span><a onclick="window.open('https://goo.gl/maps/w9ypgL5qgGyWrXNw6')"><i
            class="fas fa-map-marker-alt"></i></a></span></h5>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/index.js" charset="utf-8"></script>
<p id="copyright">
  <script>
    fullYear()
  </script>
</p>
</div>

</body>

</html>