<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mediação Imobiliária Lda</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/insertImmobile.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/propertyFeatures.css">  
  <link rel="stylesheet" href="/css/cookiesPolicy.css">
  <link rel="stylesheet" href="/css/privacyPolicy.css">
  <link rel="stylesheet" href="/css/termsConditions.css">
  <link rel="stylesheet" href="/css/contacts.css">
  <link rel="stylesheet" href="/css/immobileSearch.css">
  <link rel="stylesheet" href="/css/raisingTheImmobile.css">
  <link rel="stylesheet" href="/css/recruitment.css">
  <link rel="stylesheet" href="/css/services.css">    
  <!--icons -->
  <link rel="icon" href="../src/images/favicon_XYZ.ico">
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu&display=swap" rel="stylesheet">
  <!--bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
</head>
<body>
  <div id="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#">
        <div class="layersContainer">
          <img src="/../src/images/xyz.png" alt="logotipo">
          <img src="/../src/images/xyz.png" alt="logotipo">
          <img src="/../src/images/xyz.png" alt="logotipo">
          <img src="/../src/images/xyz.png" alt="logotipo">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Início <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Imóveis
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/raisingTheImmobile">Vender</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/immobileSearch">Pesquisar</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services" tabindex="-1" aria-disabled="true">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts" tabindex="-1" aria-disabled="true">Contactos</a>
          </li>                 
          <li class="nav-item">
            <a href="/login"><i id="zoomI" class="far fa-user"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
