<%- include("header") -%>

<hr>
<div id="privacePolicyText">
    <h1>Política de privacidade</h1>

    <div>
        <p id="privaceInformation">Na XYZ - consideramos que a privacidade e a segurança das pessoas são pilares importantes.
          <b>Informação não confidencial.</b><br>
           A informação a partilhar com intuito de promover um determinado imóvel é da responsabilidade de quem vende.<br>
           <b>Informação confidencial.</b> <br>
            Esta informação encontra-se arquivada em bases de dados só acessíveis a pessoas autorizadas. <br>
...blá blá blá
</p>
           

    </div>
</div>

<%- include("footer") -%>