<%- include("header") -%>
  <div class="container">
    <div class="cardContainer">
        <div class="cardBox">
          <div class="cardContent">
            <h2>Avaliação de Imóveis</h2>
            <p>Saiba rigorosamente o valor do seu imóvel.</p>
            <a href="#">Serviço indisponível</a>
          </div>
        </div>
        <div class="cardBox">
          <div class="cardContent">
            <h2>Certificação energética</h2>
            <p> Certifique o seu imóvel.
            </p>
            <a href="#">Serviço indisponível</a>
          </div>
        </div>
        <div class="cardBox">
          <div class="cardContent">
            <h2>Recrutamento</h2>
            <p> Venha trabalhar connosco!

            </p>
            <a href="recruitment">Ficha de candidatura</a>
          </div>
        </div>
      </div>
  </div>
  <%- include("footer") -%>
