#header_section > div > div:nth-child(1) > img{height: 100px;}
.titleContent{text-align: center;justify-content: center;padding-top: 50px;}
#fieldContainer{
  margin-left: 9%; width: 85%; height: auto; border-style: dotted;
  border-color: #2b0057; border-radius: 15px;
  margin-bottom: 15px;padding-bottom: 15px;
  background-color: #d7fffd; color:  #2b0057;
  box-shadow: 0 20px 50px rgba(43, 0, 87, .5);
}
#fieldContainer .btn{margin: 5px 0; background-color: #2b0057; color: white;}
.titleBox{padding-top: 10px; padding-left: 20px;}
.fieldBox{ height: 70px;padding: 5px; }
.fieldName{margin: 5px 0;}
.fieldBox select {width: 100%;}
.commentBox{width: 100%; height: 110px;padding:5px;position: relative; z-index: 999}
.commentBox textarea{height: 75px; width: 100%;}
.fieldBox input{width: 100%;}
#fieldContainer .row{margin: 0;}
#fieldBoxFileUpload{padding-left: 20px;}
/* Animated btn border */
#animationBtnBorder {
  float: right;
  position: relative;
  color: #1670f0;
  padding: 8px 8px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
  overflow: hidden; /* hide the extension of the line movement */
}
#animationBtnBorder > input[type=submit]{background-color:#2b0057; color: white;border-style: solid;border-color: orange;}


#animationBtnBorder span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
#animationBtnBorder span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s; /* simulate the sequence of the linear movement */
}
@keyframes animate2 {
  0% {
    transform: translatey(-100%);
  }

  100% {
    transform: translatey(100%);
  }
}
#animationBtnBorder span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
#animationBtnBorder span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translatey(100%);
  }

  100% {
    transform: translatey(-100%);
  }
}
/* Animated btn */
 #animatedBtn { width: 170px; height: 35px;
  font-size: 16px;
  font-weight: bold;
  animation: myfirst 3s 2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes myfirst {
  0% {
    transform: translate(5px, 0px);
  }
  20% {
    transform: translate(-5px, 0px);
  }
  40% {
    transform: translate(5px, 0px);
  }
  60% {
    transform: translate(-5px, 0px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(-5px, 0px);
  }
}
/* End of animation icon */
