<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bem vindo!</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- my success style -->
    <link rel="stylesheet" href="css/success.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" style="color:#21243d; ">Olá! Seja Bem Vindo!</h1>
        <p class="lead" style="color:#21243d; ">Logou com sucesso na área administrativa, aqui irá encontrar mais informações! Poderá dependendo do seu nível de autorizações aceder:</p>        
        <ul>          
          <li><a href='listingImmobiles'>Lista de propriedades</a></li>
          <li><a href='listingImmobiles'>Lista de consultores</a></li>
          <li><a href='listingImmobiles'>Lista de serviços</a></li>
          <li><a href='listingImmobiles'>Lista de áreas editáveis</a></li>
          </ul>
            <a id="aBtn" type="button" href='index' >Sair da área administrativa</a>            
      </div>
    </div>
    
  </body>
</html>
